# ignore ide files
.vscode/
.idea/
.github/
# ignore database files
/config_docker/postgres_data/*
# ignore node modules
/node_modules
# ignore environment variables file
# /.env
# Ignore yarn error log files
yarn-error.log*

# Ignore npm error log files
npm-debug.log*
/src/generated/prisma

/src/generated/prisma

/filemanager/*
.env